<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>_Layout</title>
</head>
<body>
    <div>
        <ul class="nav nav-tabs justify-content-end" id="navId">
            <li class="nav-item">
                <a class="nav-link" href="/Home/Index">Home</a>
            </li>
            <li class="nav-item">
                <a href="/Usuario/Form" class="nav-link">Usuário</a>
            </li>
            <li class="nav-item">
                <a href="/Produto/FormProd" class="nav-link">Produto</a>
            </li>
            <li class="nav-item">
                <a href="/CategoriaProduto/FormCatProd" class="nav-link">Categoria de Produto</a>
            </li>
        </ul>
        <center>
        <h3 class="text-muted">Loja Web</h3>
        <div class="container">
            @RenderBody()
        </div>
        </center>

     </div>
</body>
</html>
