
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div> 
        <center>
            <br /><br /><br />
            <form action="/Home/Login" method="post">
                <div class="row col-4">
                    <label for="Login">Login:</label>
                    <input id="Login" name="funcionario.Login" value="@ViewBag.Login" placeholder="Nome de Login" class="form-control" />
                </div>
                <div class="row col-4">
                    <label for="Senha">Senha:</label>
                    <input id="Senha" type="password" name="funcionario.Senha" placeholder="Senha" class="form-control" />
                </div>
                <br /><br />
                @Html.ValidationMessage("funcionario.LoginError")
                <br />
                <input type="submit" class="btn btn-primary" value="Entrar" />
            </form>
        </center>


    </div>
</body>
</html>
