@{
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
       <h2>Usuários</h2>

        <div>
            <br /><br />
            <center>
                <form action="/Usuario/Adicionar" method="post">
                    <label for="Nome">Nome: </label>
                    <input id="nome" name="usuario.Nome" />
                    <label for="Senha">Senha: </label>
                    <input type="password" size="8" maxlength="8" name="usuario.Senha" />
                    <br />
                    <input id="submit" type="submit" value="Cadastrar" />
                </form>
                <br /><br /><br /><br />
                <form action="/Usuario/Busca" method="post">
                    <h2>Buscar Todos os Usuário</h2>
                    <input type="submit" value="Buscar"/>
                </form>
            </center>
        </div>
    </body>
</html>
