
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <center>
        <div style="width:80%">
            <h1>Produto Id:@ViewBag.Prod.Id</h1>
            <h2>Nome:@ViewBag.Prod.Nome</h2>
            <h3>Descrição:@ViewBag.Prod.Descricao</h3>
            <h3>Preço:@ViewBag.Prod.Preco</h3>
            <h3>Quantidade:@ViewBag.Prod.Quantidade</h3>
            <h3>Fabricante:@ViewBag.Prod.Fabricante</h3>
        </div>
    </center>

    <div></div>


</body>
</html>
